## -*- coding: utf-8 -*-
<table class="campaigns" border="0">
	<thead>
		<tr>
			<th>Title</th>
			<th>Addresses</th>
			<th>Created</th>
		</tr>
	</thead>
	<tbody>
% for campaign in campaigns:
		<tr id="campaign_${campaign.id}">
			<td>
				<em>${campaign.title}</em>
				% if not campaign.no_recipients is None:
				<br />${_("%d recipients") % campaign.no_recipients}
				% endif
			</td>
			<td>
				% if campaign.ingress_address:
				<em><a href="mailto:campaign.ingress_address">campaign.ingress_address</a></em>
				% else:
				<em>no address</em>
				% endif
				<br />
				% if campaign.egress_address:
				campaign.egress_address</a></em>
				% else:
				(unmodified)
				% endif
			</td>
			<td>
				<em>${ locale.format_date(campaign.created)}</em>
			</td>
		</tr>
% endfor
	</tbody>
</table>
